/* src/app/components/data-actions.component.scss */
.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Afasta os botões */
    align-items: center;
    gap: 20px; /* Espaçamento entre os botões */
    margin-top: 20px;    
}
  
  .rounded-button {
    border-radius: 25px; /* Arredonda os botões */
    padding: 10px 20px; /* Aumenta o tamanho do botão */
    font-size: 16px; /* Ajusta o tamanho do texto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra leve */
  }